<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect all requests to the public directory
    # Skip if the request is already for the public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>

